.mcmodder-editor-container .CodeMirror {
  color: var(--mcmodder-color-text);
  padding: .2em var(--mcmodder-width-padding-3);
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.mcmodder-editor-container .CodeMirror span {
  font-family: monospace;
}
.mcmodder-editor-container .CodeMirror-cursor {
  border-color: var(--mcmodder-color-text);
}
.mcmodder-editor-container .CodeMirror-selected {
  background-color: var(--mcmodder-color-accent-transparent1);
}
.mcmodder-editor-container .CodeMirror-lines {
  line-height: 1.5em;
  font-size: 14px;
}

.cm-s-mcmodder span.cm-keyword {color: var(--mcmodder-color-cm-keyword-universal);}
.cm-s-mcmodder span.cm-atom {color: var(--mcmodder-color-cm-atom-universal);}
.cm-s-mcmodder span.cm-number {color: var(--mcmodder-color-cm-number-universal);}
.cm-s-mcmodder span.cm-def {color: var(--mcmodder-color-cm-def-universal);}
.cm-s-mcmodder span.cm-variable {color: var(--mcmodder-color-cm-variable-universal);}
.cm-s-mcmodder span.cm-variable-2 {color: var(--mcmodder-color-cm-variable-2-universal);}
.cm-s-mcmodder span.cm-variable-3 {color: var(--mcmodder-color-cm-variable-3-universal);}
.cm-s-mcmodder span.cm-property {color: var(--mcmodder-color-cm-property-universal);}
.cm-s-mcmodder span.cm-operator {color: var(--mcmodder-color-cm-operator-universal);}
.cm-s-mcmodder span.cm-comment {color: var(--mcmodder-color-cm-comment-universal);}
.cm-s-mcmodder span.cm-string {color: var(--mcmodder-color-cm-string-universal);}
.cm-s-mcmodder span.cm-string-2 {color: var(--mcmodder-color-cm-string-2-universal);}
.cm-s-mcmodder span.cm-meta {color: var(--mcmodder-color-cm-meta-universal);}
.cm-s-mcmodder span.cm-error {color: var(--mcmodder-color-cm-error-universal);}
.cm-s-mcmodder span.cm-qualifier {color: var(--mcmodder-color-cm-qualifier-universal);}
.cm-s-mcmodder span.cm-builtin {color: var(--mcmodder-color-cm-builtin-universal);}
.cm-s-mcmodder span.cm-bracket {color: var(--mcmodder-color-cm-bracket-universal);}
.cm-s-mcmodder span.cm-tag {color: var(--mcmodder-color-cm-tag-universal);}
.cm-s-mcmodder span.cm-attribute {color: var(--mcmodder-color-cm-attribute-universal);}
.cm-s-mcmodder span.cm-header {color: var(--mcmodder-color-cm-header-universal);}
.cm-s-mcmodder span.cm-quote {color: var(--mcmodder-color-cm-quote-universal);}
.cm-s-mcmodder span.cm-hr {color: var(--mcmodder-color-cm-hr-universal);}
.cm-s-mcmodder span.cm-link {color: var(--mcmodder-color-cm-link-universal);}

.syntaxhighlighter,
.syntaxhighlighter.java {
  background-color: var(--mcmodder-color-background-dark1);
  border-radius: var(--mcmodder-width-padding-2);
  border: 1px solid var(--mcmodder-color-background-dark2);
}
.syntaxhighlighter .line,
.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2,
.syntaxhighlighter.java .line,
.syntaxhighlighter.java .line.alt1,
.syntaxhighlighter.java .line.alt2 {
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter table td.code,
.syntaxhighlighter table td.gutter {
  background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
  background-color: var(--mcmodder-color-sh-highlighted-bg-universal);
}
.syntaxhighlighter .line.highlighted.number {
  color: var(--mcmodder-color-text);
}
.syntaxhighlighter table caption {
  color: var(--mcmodder-color-text);
}
.syntaxhighlighter .gutter {
  color: var(--mcmodder-color-text-dark2);
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid var(--mcmodder-color-sh-gutter-theme-universal);
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: var(--mcmodder-color-sh-gutter-theme-universal);
  color: white;
}
.syntaxhighlighter table td.code .container textarea {
  background-color: var(--mcmodder-color-background);
  color: var(--mcmodder-color-text);
  line-height: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.syntaxhighlighter table td.code .line,
.syntaxhighlighter table td.gutter .line {
  line-height: 1.3em;
}
.syntaxhighlighter.collapsed {
  overflow: visible;
}
.syntaxhighlighter.collapsed .toolbar {
  color: var(--mcmodder-color-link);
  background: var(--mcmodder-color-background);
  border: 1px solid var(--mcmodder-color-sh-gutter-theme-universal);
}
.syntaxhighlighter.collapsed .toolbar a {
  color: var(--mcmodder-color-link);
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: var(--mcmodder-color-danger);
}
.syntaxhighlighter .toolbar {
  color: white;
  background: var(--mcmodder-color-sh-gutter-theme-universal);
  border: 0;
}
.syntaxhighlighter .toolbar a {
  color: white;
}
.syntaxhighlighter .toolbar a:hover {
  color: black;
}
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: var(--mcmodder-color-text);
}
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
  color: var(--mcmodder-color-sh-comment-universal);
}
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: var(--mcmodder-color-sh-string-universal);
}
.syntaxhighlighter .keyword {
  color: var(--mcmodder-color-sh-keyword-universal);
  font-weight: bold;
}
.syntaxhighlighter .preprocessor {
  color: var(--mcmodder-color-sh-preprocessor-universal);
}
.syntaxhighlighter .variable {
  color: var(--mcmodder-color-sh-variable-universal);
}
.syntaxhighlighter .value {
  color: var(--mcmodder-color-sh-value-universal);
}
.syntaxhighlighter .functions {
  color: var(--mcmodder-color-sh-functions-universal);
}
.syntaxhighlighter .constants {
  color: var(--mcmodder-color-sh-constants-universal);
}
.syntaxhighlighter .script {
  font-weight: bold;
  color: var(--mcmodder-color-sh-keyword-universal);
  background-color: none;
}
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
  color: var(--mcmodder-color-sh-color1-universal);
}
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
  color: var(--mcmodder-color-sh-color2-universal);
}
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
  color: var(--mcmodder-color-sh-color3-universal);
}
.syntaxhighlighter-tools {
  margin: 0;
  font-size: 14px;
  position: absolute;
  right: 0;
  z-index: 9;
  background-color: var(--mcmodder-color-background);
  padding-left: 5px;
}
.syntaxhighlighter-tools a {
  margin-right: 5px;
  color: inherit;
  text-decoration: none;
}
.syntaxhighlighter-tools.cb {
  background-color: var(--mcmodder-color-cb-tools-bg-universal);
}
.syntaxhighlighter-tools.cb a {
  color: var(--mcmodder-color-cb-tools-color-universal);
}
.syntaxhighlighter.cb,
.syntaxhighlighter.cb .line {
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter.cb .line {
  border-color: var(--mcmodder-color-cb-line-border-universal);
  color: var(--mcmodder-color-cb-line-color-universal);
  white-space: initial;
}
.syntaxhighlighter.cb .plain {
  color: var(--mcmodder-color-cb-plain-universal);
}
.syntaxhighlighter.cb .functions {
  color: var(--mcmodder-color-cb-functions-universal);
}
.syntaxhighlighter.cb .selector {
  color: var(--mcmodder-color-cb-selector-universal);
}
.syntaxhighlighter.cb .nbt {
  color: var(--mcmodder-color-cb-nbt-universal);
}
.syntaxhighlighter.java .line.highlighted.alt1,
.syntaxhighlighter.java .line.highlighted.alt2 {
  background-color: var(--mcmodder-color-java-highlighted-bg-universal);
}
.syntaxhighlighter.java .line.highlighted.number {
  color: white;
}
.syntaxhighlighter.java .gutter {
  color: var(--mcmodder-color-text-dark2);
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter.java .gutter .line {
  border-right: 3px solid var(--mcmodder-color-java-gutter-theme-universal);
  background-color: var(--mcmodder-color-background-dark1);
}
.syntaxhighlighter.java .gutter .line.highlighted {
  background-color: var(--mcmodder-color-java-gutter-theme-universal);
  color: white;
}
.syntaxhighlighter.java.collapsed .toolbar {
  color: var(--mcmodder-color-cm-comment-universal);
  background: var(--mcmodder-color-background);
  border: 1px solid var(--mcmodder-color-java-gutter-theme-universal);
}
.syntaxhighlighter.java.collapsed .toolbar a {
  color: var(--mcmodder-color-cm-comment-universal);
}
.syntaxhighlighter.java.collapsed .toolbar a:hover {
  color: var(--mcmodder-color-cm-variable-universal);
}
.syntaxhighlighter.java .toolbar {
  color: var(--mcmodder-color-text-dark2);
  background: var(--mcmodder-color-java-gutter-theme-universal);
  border: 0;
}
.syntaxhighlighter.java .toolbar a {
  color: var(--mcmodder-color-text-dark2);
}
.syntaxhighlighter.java .toolbar a:hover {
  color: red;
}
.syntaxhighlighter.java,
.syntaxhighlighter.java .line,
.syntaxhighlighter.java .plain,
.syntaxhighlighter.java .plain a {
  color: var(--mcmodder-color-java-plain-universal);
}
.syntaxhighlighter.java .comments,
.syntaxhighlighter.java .comments a {
  color: var(--mcmodder-color-java-comments-universal);
}
.syntaxhighlighter.java .string,
.syntaxhighlighter.java .string a {
  color: var(--mcmodder-color-java-string-universal);
}
.syntaxhighlighter.java .keyword {
  color: var(--mcmodder-color-java-keyword-universal);
  font-weight: bold;
}
.syntaxhighlighter.java .preprocessor {
  color: var(--mcmodder-color-java-preprocessor-universal);
}
.syntaxhighlighter.java .variable {
  color: var(--mcmodder-color-java-variable-universal);
}
.syntaxhighlighter.java .value {
  color: var(--mcmodder-color-java-value-universal);
}
.syntaxhighlighter.java .functions {
  color: var(--mcmodder-color-java-functions-universal);
}
.syntaxhighlighter.java .constants {
  color: var(--mcmodder-color-java-constants-universal);
}
.syntaxhighlighter.java .script {
  font-weight: bold;
  color: var(--mcmodder-color-cm-keyword-universal);
  background-color: none;
}
.syntaxhighlighter.java .color1,
.syntaxhighlighter.java .color1 a {
  color: var(--mcmodder-color-text-dark2);
}
.syntaxhighlighter.java .color2,
.syntaxhighlighter.java .color2 a {
  color: var(--mcmodder-color-cm-def-universal);
}
.syntaxhighlighter.java .color3,
.syntaxhighlighter.java .color3 a {
  color: red;
}
.syntaxhighlighter.java .xml .keyword {
  color: var(--mcmodder-color-java-xml-keyword-universal);
  font-weight: normal;
}
.syntaxhighlighter.java .xml .color1,
.syntaxhighlighter.java .xml .color1 a {
  color: var(--mcmodder-color-java-xml-color1-universal);
}
.syntaxhighlighter.java .xml .string {
  font-style: italic;
  color: var(--mcmodder-color-java-xml-string-universal);
}