body .edui-default .edui-editor-toolbarboxouter, .banner .m_menu .m_center, .banner .m_menu .banner .m_menu {
  background-image: none;
  background-color: #222;
  border-bottom-color: #444;
}
.common-center .right .tab-content ul.tab-ul p.title,
.center-block-head .title,
.center-content.admin-list .title,
.center-sub-menu a:hover,
.center-content.edit-chart-frame .title-main,
.author-mods .title,
.author-member .title,
.author-partner .title,
.page-header .title,
.panel-title,
.page-header .title,
thead,
a:hover,
.edit-tools a:hover,
.message-menu li a.active,
.message-menu li a:hover,
.message-submenu li.active a,
.message-main .message-submenu li a:hover,
.copyright a:hover,
.copyleft a:hover,
.un_info li strong,
.m_center li a:hover,
.about-frame h5,
.about-frame strong,
.log-frame .block .title,
.rank-list-block a:hover,
.common-center .right .class-info .class-info-left .tag a:hover,
.common-center .class-edit-block li a:hover,
.common-center .right .class-info .class-info-left .author li a:hover,
.defaulthover a:hover,
.news_block .right .editor ul a:hover,
.post_block .title .more a:hover,
.class_block .title a:hover,
.mcmodder-almanacs .more a:hover,
.item-table-block .table-tool li a:hover {
  color: #ee6;
  background-color: transparent;
}
.table {
  background-color: transparent;
}
table td {
  color: var(--mcmodder-tx);
}
.verify-list-list td a.text-muted:hover,
.common-index-block .head-more:hover,
.body-content a:hover,
#modfile-list-table a.edit-btn:hover,
#modfile-list-table a.del-btn:hover {
  color: #ee6 !important;
}
.common-center .right .tab-content li.tab-li .tips {
  color: #99f;
}
.common-center .right .tab-content li.tab-li .tips.red,
.common-center .right .tab-content li.tab-li .tips.red a {
  color: #faf;
}
.form-control,
input {
  border-color: var(--mcmodder-bgd1);
  box-shadow: inset 0px 1px 0px var(--mcmodder-shadow);
}
input,
.form-control:focus,
.waifu .waifu-tips,
#edui_fixedlayer .edui-default .edui-dialog-foot,
body .tabbody #upload.panel,
body .tabbody .panel,
body #remote input.text,
.common-comment-block textarea,
.syntaxhighlighter table td.code .container textarea {
  background-color: var(--mcmodder-bg);
  color: var(--mcmodder-tx);
}
.edui-default .edui-default .edui-menu-body .state-hover {
  background: #d6d;
}
.common-menu-page li,
.bootstrap-tagsinput .tag {
  border-color: #444;
}
.bootstrap-tagsinput {
  background-color: #000;
  border-color: #333;
}
.common-menu-page li,
.comment-quote-block,
.comment-skip-block .common-text table th,
th,
.common-class-category li .normal.gray,
.center-item-popover-amount,
#edui_fixedlayer .edui-default .edui-dialog-titlebar {
  background-color: #111;
  border-color: #888;
  background-image: unset;
}
td {
  border-color: #888;
}
a,
.common-imglist p.text a {
  color: #6bf;
}
body[contenteditable=true] a:visited,
.result-item a:visited {
  color: #b6f;
}
.result-item .foot,
.result-item .foot a {
  color: #0d0;
}
.alert-primary {
  color: #b8daff;
  background-color: #226;
  border-color: #224;
}
.alert-warning {
  border-color: #660;
  background-color: #330
}
.item-category li,
.common-text table th,
.center-content.post-list .post-block .cover img,
.center-card-view,
.notice_center,
.notice_center .content {
  background-color: var(--mcmodder-bg);
  border-color: var(--mcmodder-bgd1);
}
.under {
  background-image: none;
}
.form-control ::selection,
.item-table-block .text,
.edui-default .edui-editor {
  background-color: #000;
}
.selectTdClass {
  background-color: #07122d !important;
}
.news_block .left .block img {
  border-color: #333 !important;
}
.history-list-frame li,
.common-comment-block .comment-row {
  border-bottom-color: #333;
}
.topic_block .dec a,
.right a.class {
  color: #fff;
}
div,
ul,
li,
.chart_block .list li a,
.news_block .left .name a,
.class_block .left .list .name a,
.class_block .right .list a,
.post_block .list li .postTitle a,
.card_block ul li a,
.dropdown-item,
.common-nav a.home,
input,
.common-comment-block .comment-title,
.common-fuc-group span,
.checkbox label::after,
.news_block .right .editor ul li,
pre,
.verify-copy-btn,
.common-nav li,
.common-nav a,
p:not(.card-item p):not(.text-danger) {
  color: var(--mcmodder-tx);
  text-shadow: 1px 1px 1px var(--mcmodder-ts);
}
.class_block .title a {
  color: #dd6;
}
.class_block .left .list .frame,
.common-text-title-1,
hr,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.panel,
.center-card-block.background .center-card-border,
.center-card-block.badges .center-card-border,
.center-card-block.tracker .center-card-border.rank-1 {
  border-color: #333;
}
.class_block .left .list .items {
  border-top-color: #333;
}
.news_block .right .editor,
.bd-callout,
.webui-popover-title {
  border-color: #222;
}
.news_block .right .editor ul a {
  color: #88f;
}
.progress {
  background-color: #e9ecef55;
}
.common-comment-block .comment-row-username a {
  color: #938a82;
}
.rank-head-frame fieldset,
.history-list-head fieldset,
.common-fuc-group li,
.table-bordered td,
.table-bordered th,
.table thead th,
.common-center .maintext .quote_text {
  border-color: #555;
}
.common-pages .page-item .page-link,
.common-class-category li .normal.gray,
.badge-light {
  background-color: #333;
  color: #fff;
}
.page-link,
.verify-list-list-head fieldset {
  border-color: #777;
}
.class-excount .infos,
.exp-rate .text-muted,
.class_block .left .list .name,
.class_block .right .list,
.common-user-card .card-container .tracker-frame .block .item,
.modlist-filter-block ul:not(.common-class-category) li.main a,
.common-fuc-group .action,
.center-main.favorite .favorite-fold-list a,
.news_block .right .count,
.center-main.favorite .favorite-slot-menu ol a,
.popover,
.main .nav ul li,
.edui-popup-content,
.item-table-block .title,
.webui-popover-title,
.webui-popover-content,
.page-header,
.table-hover > tbody > tr:hover {
  background-color: var(--mcmodder-bg);
}
.form-control:disabled,
.form-control[readonly],
.center-main.favorite .common-pages .page-link,
.edui-default .edui-dialog-titlebar,
body .tabhead span,
body #remote #preview,
.log-frame .block .title,
.score-frame .score-one,
pre,
code {
  background-color: #222;
  background-image: unset;
}
body .tabhead span.focus {
  background-color: var(--mcmodder-tca1);
}
#edui_fixedlayer .edui-default .edui-dialog-buttons .edui-button .edui-button-body,
#edui_fixedlayer .edui-default .edui-dialog-closebutton .edui-button-body,
img[alt="link style"],
.news_block .right .addArea,
.mcmodder-almanacs i {
  filter: invert(100%);
}
body .edui-default .edui-tablepicker .edui-pickarea,
body .edui-default .edui-tablepicker .edui-pickarea .edui-overlay {
  filter: invert(80%);
}
.edui-default .edui-dialog-buttons .edui-label {
  color: #333;
}
#edui_fixedlayer.edui-default .edui-dialog-modalmask {
  background-color: #000;
  opacity: .5;
}
.common-center .right .class-info .col-lg-4,
.content,
.common-center .left .class-rating-submit,
.common-center .right .class-info .class-info-left .tag,
.common-center .right .class-info .class-info-left .tag a,
.rank-list-block .title b,
.common-rowlist-2 li,
.common-center .maintext .item-jump p,
.edit-autolink-frame .tips,
.center-content.edit-chart-frame .title-sub,
.comment-quote-block,
.comment-skip-block,
.class-item-type .mold-0 .title,
.class-item-type .mold-0 .icon,
.common-item-mold-list .mold-0 span,
.search-menu-mcmod a,
.search-history-btn a,
.common-center .maintext .itemname .tool li a,
.item-modabbr,
.common-center .right .tab-content ul.tab-ul p,
.message-menu li a,
.news_block .left .text #random_refresh,
.news_block .left .text #new_more,
.news_block .left .text #edit_more,
.class_block .left .more a,
.score-frame .score-block .time,
.defaulthover a,
.score-frame .score-avg .score-count,
.score-frame .score-avg .score-count a,
.score-frame .score-header .more,
.verify-list-list td i.action,
.col-lg-12.common-rowlist-2 .text,
.center-total li .text,
.class-info-left .col-lg-6 .text,
.verify-rowlist .text,
.post_block .title .more a,
.mcmodder-almanacs .more a,
#comment-selfonly,
.common-comment-block .comment-floor li.none,
.comment-dl-tips,
.common-center .maintext .item-dict,
.oredict-item-list li .name .sub,
.common-index-block .subtitle,
.common-index-block .head-more,
.common-center .right .tab-content li.tab-li .category-title,
.comment-reply-row-username a,
.common-link-frame ul li,
#modfile-list-table a.edit-btn,
#modfile-list-table a.del-btn,
.common-center .right .class-info .mcver,
.common-center .right .class-info .class-info-left .author,
.common-center .right .class-info .infolist {
  color: #aaa;
}
.class-excount .infos .span .n,
h1,
h2,
h3,
h4,
h5,
h6,
.center-sub-menu a,
.rank-list-block a,
.common-menu-page a,
.common-text p,
.list_block .menu li a,
.verify-list-list td a.text-muted,
.az_block .menu li,
.az_block .list li a,
.swal2-popup .swal2-title,
.star_block .list li a,
.list_block .list li a,
.item-category a,
.common-icon-text a,
.dropdown-menu > li > a,
.sidebar-open-button,
.sidepanel-open-button,
.searchbutton,
.top-right .profilebox .col-lg-12.common-rowlist-2 .title,
.center-total li .title,
.class-info-left .col-lg-6 .title,
.common-text .common-text-menu li a span,
.class-item-type li .content,
.common-center .class-edit-block li a,
.worldgen-list li p.name a,
.class_block .left .list .name a,
.modlist-block .title p,
.modlist-block .title a,
.modlist-filter-block ul:not(.common-class-category) li.main a,
.header-search #header-search-submit,
.common-center .right .class-relation-list legend,
.select-row legend,
.common-rowlist-block .title .more a,
.common-imglist-block .title .more a,
.btn-outline-secondary,
.download-switch-fold a,
.download-version-select .count,
.common-center .info-frame p,
.edit-autolink-frame .title,
.az_block .switch li,
.video_block .list li a,
.m_center li a,
.list .pages_system .Pbtn_on,
.score-frame .score-block .text .title,
#server-tool span,
.page-app .app-content .title,
table th,
.common-index-block .head-title,
.body-content a,
.index-tool a,
.item-table-block .table-tool li a,
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: var(--mcmodder-tx);
}
body .text-danger {
  color: #f66 !important;
}
.text-muted {
  color: #aab !important;
}
.mcmodder-class-info-fold,
.item-table-block .NullItem,
.item-table-block .NullItem a:hover {
  color: var(--mcmodder-tx) !important;
}
.header-layer,
.webui-popover-inner {
  border-color: #111 !important;
  box-shadow: 1px 1px 4px #222 !important;
}
.edit-autolink-list li:not(.empty):not(.limit):hover,
.modlist-filter-block ul:not(.common-class-category) li.main a:hover {
  background-color: #445
}
.center-content.item-list li.rank_1 {
  border-color: #222;
  background-color: #000;
  background-image: radial-gradient(at 60px 50px, #222 20%, #111);
}
body .edui-default span.edui-clickable {
  color: #99f;
}
.radio label::after {
  background-color: #ddd;
}
.uknowtoomuch {
  text-shadow: 0px 0px !important;
}
#top {
  background-color: #135;
}
.header-layer-block a {
  color: #aac;
}
.mcmodder-golden-alert {
  background-color: #552d;
}
footer h5 {
  color: #8cf;
}
footer .copyright a,
footer .copyleft a {
  color: #8bd;
}
.mcmodder-almanacs .good {
  background-color: #442;
}
.mcmodder-almanacs .bad {
  background-color: #432;
}
.bind-list li.main a {
  color: #f36;
}
body .uknowtoomuch {
  background-color: #444 !important;
  color: #444 !important;
}