#item-used-item, #item-search-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
}
#item-table-item-frame .item-table-hover {
  width: 100%;
}
#item-table-item-frame .item-table-hover img {
  position: absolute;
  left: 0px;
}
#item-table-item-frame .item-table-hover div {
  display: inline-block;
  font-size: 14px;
  max-width: calc(100% - 32px);
  line-height: 1;
  max-height: 32px;
  overflow: clip;
  position: absolute;
  right: 0px;
}
#item-table-item-frame .item-table-hover .zh-name {
  margin-left: .25em;
  font-size: 12px;
}
#item-table-item-frame .item-table-hover .en-name {
  margin-left: .25em;
  font-size: 10px;
  color: var(--mcmodder-color-text-dark3);
}